/* General Body and Header Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  height: 100px; /* Define the height of the header */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%; /* Make the logo height match the header height */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales to fit without distortion */
  margin-right: 10px; /* Space between logo image and text */
}

.logo h1 {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 100px; /* Vertically center text with the height of the header */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}
main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 50vh; /* Ensures sections take up at least half the viewport height */
}

/* Specific Style for Product Section */
#products {
  background: url('product.png') no-repeat center center;
  background-size: cover;
  padding: 2em;
  color: #111010; /* Text color to ensure readability on the background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Product Categories */
.product-categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category {
  text-align: center;
  margin: 10px;
  background-color: #ccc;
}

.category img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #0c0c0c;
  border-radius: 5px;
}

.subcategory {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: rgb(235, 225, 225);
}

.subcategory a {
  margin: 5px;
  text-decoration: none;
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
